body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

form {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 5px;
}

button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
}
